@font-face {
    font-family: 'Rubik';
    src: url(/assets/fonts/Rubik.ttf);
    font-display: fallback;
}

.rubik{
    font-family: 'Rubik';
}


* {
    --black: #000000;
    --primary-100: #8FBF9F;
    --primary-200: #68a67d;
    --primary-300: #24613b;
    --accent-100: #F18F01;
    --accent-150: #ffb242;
    --accent-200: #833500;
    --text-100: #353535;
    --text-200: #5f5f5f;
    --bg-100: #F5ECD7;
    --bg-200: #ebe2cd;
    --bg-300: #c2baa6;
  }

  .bg-100{
    background: var(--bg-100);
}

.bg-200{
    background: var(--bg-200);
}

.bg-300{
    background: var(--bg-300);
}